.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    padding: 10px;
    cursor:pointer;
    text-align: center;
    transition: 0.5s;
    color: #13227a;
    /* flex properties */
    flex-grow: 0;
    flex-basis: 225px;
    /*min-height: 125px;*/
  }
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    transition: 0.5s;
    background-color: #5676df;
    color: #fffffff1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}


.lite-card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  padding: 10px;
  cursor:pointer;
  text-align: center;
  transition: 0.5s;
  color: #13227a;
  /* flex properties */
  flex-grow: 0;
  flex-basis: 200px;
}

/* On mouse-over, add a deeper shadow */
.lite-card:hover {
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}


/* A Flex Container */
.card-box{
  margin-bottom: 25px;
  margin-top: 25px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

/* Notification Block CSS */
.notification{
  background-color: rgb(250, 247, 194);
  padding: 8px 16px 8px 16px;
  margin: 16px 0px 16px 0px;
  /* Orange Bar on the Left */
  border-left-style: solid;
  border-left-width: 8px;
  border-left-color:orange;
}

/* Info Block CSS */
.info{
  background-color: rgb(224, 240, 253);
  padding: 8px 16px 8px 16px;
  margin: 16px 0px 16px 0px;
  /* Blue Bar on the Left */
  border-left-style: solid;
  border-left-width: 8px;
  /*border-left-color:rgb(109, 167, 255)*/
  border-left-color: #2c3c99;
}

.simple-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  padding:10px;
  margin:20px 0;
  border-radius:3px;
  cursor:pointer;
  animation: fadeIn 1s ease;
}
.simple-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  text-decoration: none;
}