<div>
    <h2><strong>{{ page.title }}</strong></h2>
    <img src="{{ site.baseurl }}/assets/home.svg" 
        height="30px" 
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.location.href='{{ site.baseurl }}/'"
    />
    <img src="{{ site.baseurl }}/assets/back.svg"
        height="30px"
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.history.back();"
    />
</div>
<p class="meta">
    {{ page.date | date_to_string }}, By {{ page.Author }},
    Tags: 
    {% for t in page.tags%}
        <a href="{{ site.baseurl }}/secondary-pages/2021/01/26/All-Posts.html#{{ t }}"> {{ t }} </a>  
    {% endfor %}
</p>
<div style="clear:right"></div>