<div>
    <div
        style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; align-items: baseline;"
    >
        <h2 style="border-bottom: none; margin-bottom: 0;"><strong>{{ page.title }}</strong></h2>
        <div>
            {% for t in page.tags%}
                <a class="tag" href="{{ site.baseurl }}/secondary-pages/2021/01/26/All-Posts.html#{{ t }}">
                    {% include fn/icon.html type="tag" size="1.2rem" %}
                    {{ t }}
                </a>
            {% endfor %}
        </div>
    </div>
    <hr style="margin:0;"/>
    <div
        style="display: flex; flex-direction: row-reverse; justify-content: space-between;"
    >
        <div style="display: flex;">
        <img src="{{ site.baseurl }}/assets/icon_db/history.svg"
            height="30px"
            style="margin: 1rem 1rem 0 1rem; cursor:pointer;"
            onclick="window.location.href='https://github.githistory.xyz/MarkChenYutian/gwcsclub/blob/main/{{ page.path }}'"
        />
        <img src="{{ site.baseurl }}/assets/home.svg" 
            height="30px" 
            style="margin: 1rem 1rem 0 1rem; cursor:pointer;"
            onclick="window.location.href='{{ site.baseurl }}/'"
        />
        <img src="{{ site.baseurl }}/assets/back.svg"
            height="30px"
            style="margin: 1rem 1rem 0 1rem; cursor:pointer;"
            onclick="window.history.back();"
        />
        </div>
        {{% assign authors = page.Author %}}
        {%if page.Author!=nil%}
            <p class="meta">
                {% include fn/icon.html type="people" size="1.5rem" %}
                {{ page.Author | join: ', '}} | {% include fn/icon.html type="calander" size="1.5rem" %}
                {{ page.date | date_to_string }}
            </p>
        {%else%}
            <p class="meta">
                {% include fn/icon.html type="calander" size="1.5rem" %}
                {{ page.date | date_to_string }}
            </p>
        {%endif%}
    </div>
</div>
