<!DOCTYPE HTML5>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <!-- Script Header for Table of Content Area -->
  <script src="{{ site.baseurl }}/js/toc_generator.js"></script>

  {% include thirdParty/baidu-Statistics.html %}
  {% include thirdParty/mathJax.html %}
</head>
