<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/personalize.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/popout.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/algo_note.css" rel="stylesheet">

  <!-- Script Header for Table of Content Area -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/toc_generator.js"></script>

  <!-- Script Header for Popup Window -->
  <script src="{{ site.baseurl }}/js/error_report_popup.js"></script>

  <!-- Script Header Enable MathJax display -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          }
      });
  </script>

  {% include google-analytics.html %}

  <!-- Script Header for Code Highlight -->
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/styles/a11y-dark.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Script Header for Code Language Selector in Algo Notes -->
  <script src="{{ site.baseurl }}/js/algorithmLangSelector.js"></script>
</head>