<!--侧栏目录生成代码-->
<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("h2,h3,h4,h5,h6").each(function (i, item) {
          var tag = item.localName;
          $(item).attr("id","h"+i);
            if (!item.className.includes("toc_ignore")){
              $("#category").append('<a class="new' + tag + '" href="#h' + i + '">' + $(item).text() + '</a></br>');
            }
        });
        for (let n = 2; n < 6; n++) {
          $(".newh"+n).css("margin-left",(n-2)*10);
        }
    });
</script>
<div class="book-summary" id="category">
  <strong>目录</strong><br/>
</div>