@import variables

::selection 
  background: #d1d5e0

* 
  box-sizing: border-box

body 
  padding: 0
  margin: 0
  font-family: "Helvetica", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: $font-xs
  line-height: 1.5
  color: #1e1e1e

a 
  color: #1e6bb8
  text-decoration: none
  margin-right: $padding-xxs
  &:hover 
    text-decoration: underline
  
  &.tag 
    color: white
    font-size: $padding-ms
    font-weight: normal
    background: transparent
    border: $padding-xxs solid #015d9b
    border-radius: $padding-xs
    padding: $padding-xxs
    text-decoration: none
    color: #015d9b
    white-space: nowrap
    margin-bottom: $padding-xs
    
    &::before 
      display: none
    
    &:hover 
      background-color: #015d9b
      color: ghostwhite
    
  

.main-content 
  @include remove-first-last-margin
  word-wrap: break-word
  place-self: stretch
  
  a 
    color: #2b2f31
    text-decoration: #bbc8cb underline
    background-color: #eafafe
    padding: $padding-xxs
    text-underline-offset: $padding-xxs
    &:hover 
      background-color: #bbeffd
      cursor: pointer
    
    &::before 
      background: url(../assets/link.svg)
      background-size: $padding-ms $padding-ms
      content: " "
      width: $padding-m
      height: $padding-m
      padding: 0 $padding-m 0 0
      background-repeat: no-repeat
      text-decoration: none
  img 
    max-width: 100%
    display: block
    margin: 0 auto
  h1
    font-size: $font-l
  h2 
    font-size: $font-mxl
    border-bottom: solid $padding-min #eff0f1
    margin-inline-start: 0px
    margin-inline-end: 0px
  h3 
    font-size: $font-ml
  
  h4 
    font-size: $font-m
  
  h5 
    font-size: $font-ms
  
  p 
    margin-bottom: $padding-ms
  
  mark 
    background-color: #ffe564
    color: #2b2f31
    padding: $padding-xxs
  
  code 
    padding: $padding-xxs $padding-xs
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
    font-size: $font-xxs
    background-color: ghostwhite
    border-radius: $padding-xxs
    color: #009494
  
  pre 
    padding: $padding-s
    margin-top: 0
    margin-bottom: $padding-s
    font: $font-xs Consolas, "Liberation Mono", Menlo, Courier, monospace
    color: #d9e7eb
    word-wrap: normal
    background-color: #222222
    border-radius: $padding-xxs
    & > code 
      padding: 0
      margin: 0
      color: #d9e7eb
      word-break: normal
      white-space: pre
      background: transparent
      border: 0
    
  
  .highlight 
    margin-bottom: $font-xs
    border-radius: $padding-xxs
    pre 
      margin-bottom: 0
      word-break: normal
    
  
  blockquote 
    padding: 0 $padding-ms
    margin-left: 0
    color: #819198
    border-left: $padding-xs solid #dce6f0
    @include remove-first-last-margin
  
  .info 
    background-color: rgb(224, 240, 253)
    padding: 0 $padding-ms
    margin-left: 0
    border-left: $padding-xs solid #2c3c99
    padding: $padding-ms
    margin: $padding-ms 0 $padding-ms 0
    color: #1a2356
    @include remove-first-last-margin
  
  .error 
    background-color: rgb(253, 230, 224)
    padding: 0 $padding-ms
    margin-left: 0
    border-left: $padding-xs solid #c21a1a
    padding: $padding-ms
    margin: $padding-ms 0 $padding-ms 0
    @include remove-first-last-margin
  
  .notification 
    background-color: rgb(250, 247, 194)
    padding: 0 $padding-ms
    margin-left: 0
    border-left: $padding-xs solid orange
    padding: $padding-ms
    margin: $padding-ms 0 $padding-ms 0
    color: #7d602a
    @include remove-first-last-margin
  
  table 
    width: 100%
    overflow: auto
    word-break: normal
    word-break: normal
    -webkit-overflow-scrolling: touch
    th 
      font-weight: bold
    
  
  dl 
    padding: 0
    dt 
      padding: 0
      margin-top: $padding-ms
      font-size: $font-xs
      font-weight: bold
    
    dd 
      padding: 0
      margin-bottom: $padding-ms
    
  
  hr 
    height: 1px
    padding: 0
    margin: $padding-ms 0
    background-color: #eff0f1
    border: 0
  
  .note 
    color: rgb(178, 178, 182)
    margin-left: auto
    margin-right: auto
  

.no-decoration 
  a 
    background: transparent
    &::before 
      display: none
    
  

.clear 
  background-color: transparent
  padding: 0
  margin: 0
  text-decoration: none
  border-color: transparent
  &::before 
    background: none

.page-header 
  color: #000
  text-align: center
  background-image: url("../assets/diamond.svg")
  background-size: cover

.main-page-header 
  color: #000
  height: 100vh
  text-align: center
  background-image: url("../assets/diamond.svg")
  background-size: cover

.main-header-container 
  position: absolute
  top: 50%
  margin: 0 auto 0 auto
  transform: translate(0%,-50%)
  display: block

.project-tagline 
  margin-bottom: 2rem
  font-weight: normal
  opacity: 0.7
  color: #333333

.main-project-tagline 
  margin-bottom: 25vh
  font-weight: normal
  opacity: 0.85
  color: #333333

.top-nav-box 
  backdrop-filter: blur(4px)
  background-color: #ffffffaa
  position: sticky
  position: -webkit-sticky
  top: 0
  z-index: 2
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: left
  align-items: stretch
  align-content: flex-start

.nav-button 
  background: transparent
  margin-bottom: 5px
  text-align: center
  cursor: pointer
  flex-grow: 1
  flex-basis: calc(100% / 5 - 5px)
  font-weight: bold
  font-family: 'Microsoft YaHei','微软雅黑'
  &:hover 
    background: linear-gradient(to right, transparent 30%, #185792 30%, #3277b8 70%, transparent 70%) 0 100% / 100% 5px no-repeat
    color: #3277b8
    margin-bottom: 0

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 
  margin-top: $padding-l
  margin-bottom: $padding-ms
  font-weight: bold
  color: #185792

/* Header Size Overload */
.main-content .highlight pre, .main-content pre 
  padding: $padding-s
  overflow: auto
  font-size: $font-xxs
  line-height: 1.45
  border-radius: $padding-xxs
  -webkit-overflow-scrolling: touch
  @include shadow($padding-m, $thick-shadow)

.main-content pre code, .main-content pre tt 
  display: inline
  max-width: initial
  padding: 0
  margin: 0
  overflow: initial
  line-height: inherit
  word-wrap: normal
  background-color: transparent
  border: 0

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after 
  content: normal

.main-content ul, .main-content ol 
  margin-top: 0

/* Info Block */
/* Error Block */
.error h1,.error h2,.error h3,.error h4,.error h5 
  color: #901d1d

/* Notification Block */
.notification h1,.notification h2,.notification h3,.notification h4,.notification h5 
  color: rgb(184, 120, 3)

.main-content table th, .main-content table td 
  padding: $padding-xs $padding-ms
  border: 1px solid #e9ebec

.site-footer 
  margin-top: $padding-xxl
  border-top: solid 1px #eff0f1
  background-image: url("../assets/diamond.svg")
  background-size: 150%
  background-position-y: 90%
  padding: $padding-xxl 10% $padding-xl 10%

.site-footer-owner 
  display: block
  font-weight: bold
  color: rgb(219, 219, 226)

.site-footer-credits 
  color: #b4c2c9

.site-footer-credits a, .site-footer-owner a 
  color: rgb(67, 149, 221)

