/*
 Syntax highlighting styles
*/

.highlighttable,
.main-content > .highlight {
  background: #282C34;
  border-radius: 6px;
  font-size: 0.7rem;
   -webkit-font-smoothing: subpixel-antialiased;
   width: 100%;
 }
 
 .highlight {
 
   .c     { color: #5B6370; font-style: italic } 
   .err   { color: #960050; background-color: #1e0010; }
   .k     { color: #C776DF; font-weight: bold; }
   .o     { font-weight: bold } 
   .cm    { color: #5B6370; font-style: italic } 
   .cp    { color: #5B6370; font-weight: bold } 
   .c1    { color: #5B6370; font-style: italic } 
   .cs    { color: #5B6370; font-weight: bold; font-style: italic } 
   .gd    { color: #000; background-color: #fdd } 
   .gd .x { color: #000; background-color: #faa }
   .ge    { font-style: italic } 
   .gr    { color: #a00 } 
   .gh    { color: #5B6370 } 
   .gi    { color: #a6e22e; background-color: #dfd }
   .gi .x { color: #a6e22e; background-color: #afa }
   .go    { color: #888 }
   .gp    { color: #555 } 
   .gs    { font-weight: bold } 
   .gu    { color: #aaa }
   .gt    { color: #a00 }
   .kc    { font-weight: bold } 
   .kd    { color: #C776DF; font-weight: bold }
   .kp    { font-weight: bold } 
   .kr    { font-weight: bold } 
   .kt    { color: #458; font-weight: bold }
   .m     { color: #4FB6C3 }
   .s     { color: #A2BD40 } 
   .na    { color: #E2964A } 
   .nb    { color: #4FB6C3 } 
   .nc    { color: #E2964A; font-weight: bold }
   .nd    { color: #4FB6BE; } 
   .no    { color: #4FB6BE } 
   .ni    { color: #E2964A }
   .ne    { color: #900; font-weight: bold }
   .nf    { color: #52A5EB; font-weight: bold } 
   .nn    { color: #555 }
   .nt    { color: #DE5442 } 
   .nv    { color: #DE5442 }
   .ow    { font-weight: bold } 
   .w     { color: #bbb } 
   .mf    { color: #4FB6C3 } 
   .mh    { color: #4FB6C3 } 
   .mi    { color: #4FB6C3 } 
   .mo    { color: #4FB6C3 } 
   .sb    { color: #A2BD40 } 
   .sc    { color: #A2BD40 }
   .sd    { color: #5B6370 }
   .s2    { color: #A2BD40 }
   .se    { color: #A2BD40 }
   .sh    { color: #A2BD40 }
   .si    { color: #A2BD40 }
   .sx    { color: #A2BD40 }
   .sr    { color: #009926 }
   .s1    { color: #A2BD40 }
   .ss    { color: #990073 }
   .bp    { color: #999 } 
   .vc    { color: #008080 } 
   .vg    { color: #008080 } 
   .vi    { color: #008080 } 
   .il    { color: #4FB6C3 } 
 }
 
 .main-content > .highlight {
   line-height: 1;
   overflow-x: scroll;
   padding: 10px;
 
   pre {
     margin: 0;
     white-space: pre;
   }
 
   .lineno{
     border-right: solid 1px #3C4049;
     padding-left: 10px;
     padding-right: 10px;
     text-align: right;
   }
 
   span {
     display: inline-block;
     padding: 0.3em 0;
   }
 }
.highlighttable {

  .linenos {
    border-right: solid 1px #3C4049;
    padding-left:10px;
    padding-right: 10px;
    text-align: right;
    width: 3em;
  }

  .code .highlight {
    padding-left: 10px;

    pre { white-space: pre; }
  }
}