@import variables
// Parameterization Finished @ 2021, Jul 10th | By Mark
.horizontal-flex-box
  display: flex
  display: -webkit-flex
  flex-wrap: wrap
  align-content: stretch
  align-items: stretch
  flex-direction: row
  justify-content: flex-start
  p
    flex-basis: 60%
    flex-grow: 1

.horizontal-grid-box
  display: grid
  /* Reactive template columns are defined in reactive_layout.sass */

.grid-page-card
  @include remove-first-last-margin
  @include shadow($padding-l, $thin-shadow)
  @include main-theme-responsive-gradient
  justify-self: stretch
  min-height: 10rem
  margin: $padding-ms
  margin-top: $padding-ms !important
  border-radius: $padding-xs
  padding: $padding-m
  &:hover
    @include shadow($padding-ml, $thick-shadow)

.flex-page-card
  @include remove-first-last-margin
  @include shadow($padding-l, $thin-shadow)
  @include main-theme-responsive-gradient
  flex-grow: 1
  width: calc(100% / 3 - 2rem)
  min-height: 10rem
  min-width: 300px
  margin: $padding-ms
  margin-top: $padding-ms !important
  border-radius: $padding-xs
  padding: $padding-m
  &:hover
    @include shadow($padding-ml, $thick-shadow)

  p
    flex-basis: 60%
    flex-grow: 1

.pop-card
  transition: 0.2s
  &:hover
    transform: translateY(-$padding-ms)
    ~ .pop-card
      transform: translateX(13.5rem)

.main-button
  @include shadow($padding-ms, $thin-shadow)
  @include main-theme-responsive-gradient
  color: black
  border-radius: $padding-ml
  padding: $padding-s $padding-ml
  margin: $padding-ms
  max-width: fit-content
  border-style: none
  outline: none

  &:hover
    @include shadow($padding-s, $thick-shadow)
    text-decoration: none
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
