@import variables

.simple-card
  @include shadow($padding-ms, $thin-shadow)
  transition: 0.3s
  padding: 10px
  margin: 20px 0
  border-radius: 3px
  cursor: pointer
  animation: fadeIn 1s ease
  &:hover
    @include shadow($padding-s, $thick-shadow)
    text-decoration: none

.main-button
  cursor: pointer
  background-color: rgb(243, 247, 255)
  color: black
  border-radius: $padding-ml
  padding: $padding-s $padding-ml
  margin: $padding-ms
  max-width: fit-content
  border-style: none
  outline: none

  &:hover
    @include shadow($padding-s, $thin-shadow)
    color: ghostwhite
    text-decoration: none
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    background: linear-gradient(to right, #1c63a5, #3a88d1)
    position: relative

.warn-button
  cursor: pointer
  position: fixed
  bottom: 0px
  right: 0px
  background-color: rgb(255, 163, 43)
  color: black
  border-radius: $padding-ml
  padding: $padding-xxs $padding-xs
  margin: $padding-s
  max-width: fit-content
  transition: 0.5s
  font-weight: bold

  &:hover
    transition: 0.5s
    background-color: #ff643d
    color: ghostwhite

.button-box
  display: flex
  display: -webkit-flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: start
  align-items: baseline

/* <details> tag improvement

details
  summary
    cursor: pointer

    > *
      display: inline

  background-color: #f8f8f8
  padding: $padding-m
  outline: none
  border-radius: $padding-xs

summary
  outline: none

.image-card
  width: 12rem
  height: 15rem
  margin-right: $padding-ms
  margin-bottom: $padding-ms
  transition: 0.5s
  cursor: pointer

  &:hover
    @include shadow($padding-ms, $thick-shadow)
    transition: 0.5s

.MathJax_Display
  overflow-x: auto
  overflow-y: hidden
  *
    z-index: 1

.main-container
  display: grid

.page-toc
  position: sticky
  align-self: start
  overflow-x: hidden
  overflow-y: auto
  max-height: 90vh
  a
    color: #777777
    padding-bottom: $padding-xxs
    margin-left: $padding-xxs
    display: block
  
  a:hover
    color: #333333
    margin-left: 0
    text-decoration: none
    font-weight: bold
    border-left: grey solid $padding-xxs

.active-toc
  color: #333333 !important
  margin-left: 0 !important
  text-decoration: none
  font-weight: bold
  border-left: grey solid $padding-xxs

// new animations for link starts here
.link 
    position: absolute
    right: 1rem
    top: 0.8rem
    height: 32px
    align-items: center
    color: #000
    text-decoration: none
    display: flex
    &:hover 
        .link-container 
            transform: translateY(-20px)
        
        .link-title1 
            transform: rotate(20deg)
        
        .link-title2 
            transform: rotate(0)
        
        .icon 
            &:first-child 
                transform: translate(40px)
            
            &:nth-child(2) 
                transform: translate(0px)

// Hide Extra text
.mask 
    position: relative
    padding: 0
    height: 16px
    overflow: hidden

.link-container 
    transition: transform 0.4s ease

.title 
    display: block
    font-size: 20px
    line-height: 20px
    transition: transform 0.4s ease

.link-title1 
    transform-origin: right center

.link-title2 
    transform-origin: left center
    transform: rotate(20deg)

.link-icon 
    position: relative
    width: 26px
    height: 26px
    background: #ffffff
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    margin-left: 10px
    overflow: hidden

.icon 
    display: block
    position: absolute
    transition: transform 0.4s ease
    &:nth-child(2) 
        transform: translate(-40px)
        margin-top: 2px
        width: 26px
        height: 26px
