.round-card
  cursor: pointer
  text-align: center
  transition: 0.5s
  color: #222222
  border-radius: 10px
  margin-right: 2rem
  flex-grow: 0
  flex-basis: 250px
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.1)
  margin-bottom: 2rem

  p
    padding: 8px

/* A Flex Container

.card-box
  margin-bottom: 25px
  margin-top: 25px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  align-content: flex-start

.simple-card
  /* Add shadows to create the "card" effect
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)
  transition: 0.3s
  padding: 10px
  margin: 20px 0
  border-radius: 3px
  cursor: pointer
  animation: fadeIn 1s ease

  &:hover
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)
    text-decoration: none

/* Below Define the style for top Navigation Bar
/* A Flex Container for Top Nav Box

@media screen and (max-width: 700px)
  .nav-button
    padding: 5px 15px

@media screen and (min-width: 700px)
  .nav-button
    padding: 15px 45px

/* Image Style with Padding

.mainPage-img
  padding: 16px

/* Main Button

.main-button
  cursor: pointer
  background-color: rgb(243, 247, 255)
  color: black
  border-radius: 24px
  padding: 12px 24px
  margin: 16px
  max-width: fit-content
  border-style: none
  outline: none

  &:hover
    color: ghostwhite
    text-decoration: none
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    background: linear-gradient(to right, #1c63a5, #3a88d1)
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)
    position: relative
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    transition: box-shadow .2s linear,opacity .2s linear

.main-button-disable
  cursor: pointer
  background-color: rgb(218, 218, 218)
  color: black
  border-radius: 24px
  padding: 12px 24px
  margin: 16px
  max-width: fit-content
  border-style: none
  outline: none
  color: rgb(167, 167, 167)

.warn-button
  cursor: pointer
  position: fixed
  bottom: 0px
  right: 0px
  background-color: rgb(255, 163, 43)
  color: black
  border-radius: 24px
  padding: 3px 5px
  margin: 3%
  max-width: fit-content
  transition: 0.5s
  font-weight: bold

  &:hover
    transition: 0.5s
    background-color: #ff643d93
    color: ghostwhite
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)

/* Button Box Using Flex

.button-box
  display: flex
  display: -webkit-flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: start
  align-items: baseline

/* Table Of Content on the left sider
@media (max-width: 1500px)
  #category
    max-height: 20rem

@media (max-width: 1650px) and (min-width: 1500px)
  #category
    max-height: 90vh
    position: sticky
    position: -webkit-sticky
    float: left
    left: 0px
    top: 80px
    margin-top: 32px
    margin-left: 24px
    margin-right: 4px
    max-width: 15%

@media (min-width: 1650px)
  #category
    max-height: 90vh
    position: sticky
    position: -webkit-sticky
    float: left
    left: 0px
    top: 80px
    margin-top: 32px
    margin-left: 24px
    margin-right: 24px
    width: 20%

#category
  overflow-y: auto

/* Chage Scroll Bar Style

\::-webkit-scrollbar-thumb
  border-radius: 5px
  background-color: #666666
  border: 2px solid #e5e7eb

\::-webkit-scrollbar-track
  border-radius: 5px
  background-color: transparent

\::-webkit-scrollbar
  width: 12px
  height: 12px
  background-color: #f3f3f3
  border-radius: 5px

.image-horizontal-box
  overflow-y: auto
  white-space: nowrap

  img
    border-radius: 10px
    height: 80%
    width: 80%
    display: inline-block

/* <details> tag improvement

details
  summary
    cursor: pointer

    > *
      display: inline

  background-color: #f8f8f8
  padding: 1.2rem
  outline: none
  border-radius: 1.25rem

summary
  outline: none

/* image card

.image-card
  width: 12rem
  height: 15rem
  margin-right: 1rem
  margin-bottom: 1rem
  transition: 0.5s
  cursor: pointer

  &:hover
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4)
    transition: 0.5s

.MathJax_Display
  overflow-x: auto
  overflow-y: hidden