@import variables

.main-button
  cursor: pointer
  background-color: rgb(243, 247, 255)
  color: black
  border-radius: $padding-ml
  padding: $padding-s $padding-ml
  margin: $padding-ms
  max-width: fit-content
  border-style: none
  outline: none

  &:hover
    color: ghostwhite
    text-decoration: none
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    background: linear-gradient(to right, #1c63a5, #3a88d1)
    box-shadow: 0 0 $padding-s rgba(0, 0, 0, 0.1)
    position: relative
    transition: box-shadow .2s linear,opacity .2s linear

.warn-button
  cursor: pointer
  position: fixed
  bottom: 0px
  right: 0px
  background-color: rgb(255, 163, 43)
  color: black
  border-radius: $padding-ml
  padding: $padding-xxs $padding-xs
  margin: $padding-s
  max-width: fit-content
  transition: 0.5s
  font-weight: bold

  &:hover
    transition: 0.5s
    background-color: #ff643d
    color: ghostwhite

/* Button Box Using Flex

.button-box
  display: flex
  display: -webkit-flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: start
  align-items: baseline

/* Chage Scroll Bar Style

\::-webkit-scrollbar-thumb
  border-radius: $padding-xs
  background-color: #666666
  border: $padding-xxs solid #e5e7eb

\::-webkit-scrollbar-track
  border-radius: $padding-xs
  background-color: transparent

\::-webkit-scrollbar
  width: $padding-s
  height: $padding-s
  background-color: #f3f3f3
  border-radius: $padding-xs

/* <details> tag improvement

details
  summary
    cursor: pointer

    > *
      display: inline

  background-color: #f8f8f8
  padding: $padding-m
  outline: none
  border-radius: $padding-xs

summary
  outline: none

/* image card

.image-card
  width: 12rem
  height: 15rem
  margin-right: $padding-ms
  margin-bottom: $padding-ms
  transition: 0.5s
  cursor: pointer

  &:hover
    box-shadow: 0 $padding-xs $padding-ms 0 rgba(0, 0, 0, 0.4)
    transition: 0.5s

.MathJax_Display
  overflow-x: auto
  overflow-y: hidden
  *
    z-index: 1

.main-container
  display: grid

.page-toc
  position: sticky
  align-self: start
  overflow-x: hidden
  overflow-y: auto
  max-height: 90vh
  a
    color: #666666
    padding-bottom: $padding-xxs
    margin-left: $padding-xxs
    display: block
  
  a:hover
    color: #333333
    margin-left: 0
    text-decoration: none
    font-weight: bold
    border-left: grey solid $padding-xxs
