@import variables
// Parameterization finished @ 2021, Jul 10th | By Mark
input
  font-size: $font-m
  padding: $padding-s $padding-s $padding-xxs 0
  width: 100%
  outline-style: none
  margin-bottom: $padding-ms
  border-bottom: solid 2px $grey-1
  border-top: none
  border-left: none
  border-right: none
  min-width: 20rem

select
  font-size: $font-m
  padding: $padding-s $padding-s $padding-xxs 0
  width: 100%
  outline-style: none
  margin-bottom: $padding-ms
  border-bottom: solid 2px $grey-1
  border-top: none
  border-left: none
  border-right: none
  min-width: 20rem

ul[id="results-container"]
  li
    list-style: none
    padding: $padding-s 0 0 0
    animation: 0.3s ease-in 0s 1 slideFromRight
  font-size: $font-ms
  color: $error-0
  min-height: 25rem
  padding: $padding-s 0 0 0

@keyframes slideFromRight
  0%
    transform: translateX(3%)
    opacity: 0

  100%
    transform: translateX(0)
    opacity: 1

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
    visibility: visible

  100%
    opacity: 0
    visibility: hidden

@keyframes empty

/* Provide a pause in CSS3 Animation