// Reactive Layout Breakpoints
$screen-l: 72em
$screen-s: 56em

//Size Variables 
//Part 0: Font-size Variable

$font-xxl: 4rem
$font-xl: 3rem
$font-l: 2rem
$font-ml: 1.5rem
$font-m: 1.3rem
$font-ms: 1.2rem
$font-s: 1.1rem
$font-xs: 1rem
$font-xxs: 0.9rem

//Part 1: Padding-size Variable

$padding-xxl: 6rem
$padding-xl: 4rem
$padding-l: 2rem
$padding-ml: 1.5rem
$padding-m: 1.25rem
$padding-ms: 1rem
$padding-s: 0.8rem
$padding-xs: 0.4rem
$padding-xxs: 0.2rem