---
layout: default
comments: false
Author: Anonymous
---
<head>
  <!-- Script Header for Code Highlight -->
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/styles/a11y-dark.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Script Header for Code Language Selector in Algo Notes -->
  <script src="{{ site.baseurl }}/js/algorithmLangSelector.js"></script>
</head>
<script>window.onload = selectPython</script>
{% include report-problem.html %}

{% include article-head.html %}

<!-- Language Selector -->
<blockquote>
    <p>你使用哪种语言？我们会根据你选择的语言显示对应的代码示例</p>
    <div class="button-box" style="margin-top: -20px;">
        <div class="main-button" id="pySelector" onclick="selectPython()" style="border-radius: 10px 0 0 10px; margin-right: 0px">
            {% include fn/icon.html type="python" size="2rem" %} Python
        </div>
        <div class="main-button" id="javaSelector" onclick="selectJava()" style="border-radius: 0 10px 10px 0; margin-left: 0px">
            Java {% include fn/icon.html type="java" size="2rem" %}
        </div>
    </div>
</blockquote>

{{ content }}


<!-- Comment Area and "report Error" btn -->
{% if page.comments != false %}
<hr/>
{% endif %}

<div class="warn-button" onClick="window.location.href='#report-problem'">
    <img src="{{ site.baseurl }}\assets\warning.svg" style="display: inline; height: 35px; width: 35px"></img>
</div>
{% if page.comments != false %}
    {% include thirdParty/comment.html %}
{% endif %}