---
layout: default
comments: false
Author: Anonymous
---
<script>window.onload = selectPython</script>
{% include report-problem.html %}

{% include article-head.html %}

<!-- Language Selector -->
<blockquote>
    <p>你使用哪种语言？我们会根据你选择的语言显示对应的代码示例</p>
    <div class="button-box" style="margin-top: -20px;">
        <div class="main-button" id="pySelector" onclick="selectPython()" style="border-radius: 10px 0 0 10px; margin-right: 0px">Python</div>
        <div class="main-button" id="javaSelector" onclick="selectJava()" style="border-radius: 0 10px 10px 0; margin-left: 0px">Java</div>
    </div>
</blockquote>

{{ content }}


<!-- Comment Area and "report Error" btn -->
{% if page.comments != false %}
<hr/>
{% endif %}

<div class="warn-button" onclick="showErrorReport()">⚠</div>
{% if page.comments != false %}
    {% include comment.html %}
{% endif %}