---
layout: default
comments: false
Author: Anonymous
---
<head>
  <!-- Script Header for Code Highlight -->
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/styles/a11y-dark.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Script Header for Code Language Selector in Algo Notes -->
</head>
{% include report-problem.html %}
{% include article-head.html %}

<!-- Language Selector -->
{%include algorithmLangSelector.html%}
{{ content }}


<!-- Comment Area and "report Error" btn -->
{% if page.comments != false %}
<hr/>
{% endif %}

<div class="warn-button" onClick="window.location.href='#report-problem'">
    <img src="{{ site.baseurl }}\assets\warning.svg" style="display: inline; height: 35px; width: 35px"></img>
</div>
{% if page.comments != false %}
    {% include thirdParty/comment.html %}
{% endif %}