---
useTOC: true
---
<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}
  <head>
    <!-- typed.js javascript file -->
    <script src="https://cdn.bootcdn.net/ajax/libs/typed.js/2.0.9/typed.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
    <!-- Add jquery cdn -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <style>
    /* Main Page Down Arrow Floating */
    .main-flow-arrow{
      animation: floatUpDown 2s infinite;
      -webkit-animation: floatUpDown 2s infinite;
    }

    @keyframes floatUpDown{
      0%{
        transform: translateY(0px);
      }
      40%{
        transform: translateY(40px);
      }
      100%{
        transform: translateY(0px);
      }
    }
  </style>
  <body>
    <section class="main-page-header">
        <div class="main-header-container">
        <!--<div class="main-project-name">{{ site.title }}</div>-->
        <img src="{{ site.baseurl }}\assets\logo.png" height="65%" width="65%" style="display:block; margin: 0 auto 0 auto;"/>
        <span class="text-slider-items" style="display: none;"> 
            A place for everyone who ❤ Computer Science | A place to learn Algorithms | A place to learn Artificial Intelligence | A place to share knowledge | A place to create Cool Stuff | A place to show your Project
        </span> 
        <p><span class="main-project-tagline"></span></p>
        <!--<a href="https://gitee.com/gwcompsci/gwcompsci" class="btn">View on Gitee</a>-->
        <div class="main-flow-arrow"><img src="{{ site.baseurl }}\assets\down_arrow.svg" style="display: block; zoom: 40%; margin: 25vh auto 0 auto"></img></div>
        </div>
        <script> 
            if ($(".main-project-tagline").length == 1) { 
                var typed_strings = $(".text-slider-items").text(); 
                var typed = new Typed(".main-project-tagline", { 
                    strings: typed_strings.split(" | "), 
                    typeSpeed: 40, 
                    loop: true, 
                    backDelay: 2000, 
                    // backSpeed: 50,
                    fadeOut: true,
                    fadeOutClass: 'typed-fade-out',
                    fadeOutDelay: 500,
                    cursorChar: '_'
                }); 
            } 
        </script>
    </section>
    {% include nav-bar.html %}
    <section class="main-content" style="max-width: none;">
          
      {{ content }}

    </section>

    {% include page-footer.html %}
    
  </body>
</html>
