---
useTOC: true
---
<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}
  <head>
    <!-- typed.js javascript file -->
    <script src="https://cdn.bootcdn.net/ajax/libs/typed.js/2.0.9/typed.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
    <!--<script src="{{ site.baseurl }}/css/js/typed.js-master/lib/typed.min.js"></script>-->
    <!-- Add jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <style>
    /* Main Page Down Arrow Floating */
    .main-flow-arrow{
      animation: floatUpDown 2s infinite;
      -webkit-animation: floatUpDown 2s infinite;
    }

    @keyframes floatUpDown{
      25%{
        transform: translateY(10px);
      }
      100%{
        transform: translateY(20px);
      }
    }
  </style>
  <body>
    <section class="main-page-header">
        <div class="main-header-container">
        <div class="main-project-name">{{ site.title }}</div>
        <span class="text-slider-items" style="display: none;"> 
            A place for everyone who ❤ Computer Science | A place to learn Algorithms | A place to learn Artificial Intelligence | A place to share knowledge | A place to create Cool Stuff | A place to show your Project
        </span> 
        <span class="main-project-tagline"></span>
        <img class="main-float-arrow" src="{{ site.baseurl }}\assets\down_arrow.svg" style="display: block; zoom: 25%; margin: 40vh auto 0 auto"></img>
        </div>
        <script> 
            if ($(".main-project-tagline").length == 1) { 
                var typed_strings =  
                    $(".text-slider-items").text(); 
                var typed = new Typed(".main-project-tagline", { 
                    strings: typed_strings.split(" | "), 
                    typeSpeed: 40, 
                    loop: true, 
                    backDelay: 1200, 
                    backSpeed: 50,
                }); 
            } 
        </script>
    </section>
    {% include nav-bar.html %}
    <section class="main-content">
          
      {{ content }}

      {% include page-footer.html %}

    </section>
  </body>
</html>
