---
layout: default
---

<div>
    <h2 style="float: left"><strong>{{ page.title }}</strong></h2>
    <img src="{{ site.baseurl }}/assets/home.svg" 
        height="30px" 
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.location.href='{{ site.baseurl }}/'"
    />
    <img src="{{ site.baseurl }}/assets/back.svg"
        height="30px"
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.history.back();"
    />
</div>

<p class="meta" style="clear: both">  {{ page.date | date_to_string }}</p>

{{ content }}