---
layout: default
comments: false
---

<div>
    <h2 style="float: left"><strong>{{ page.title }}</strong></h2>
    <img src="{{ site.baseurl }}/assets/home.svg" 
        height="30px" 
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.location.href='{{ site.baseurl }}/'"
    />
    <img src="{{ site.baseurl }}/assets/back.svg"
        height="30px"
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.history.back();"
    />
</div>

<p class="meta" style="clear: both">  {{ page.date | date_to_string }}</p>

{{ content }}

{% if page.comments != false %}
    <hr/>
    <h3>评论区</h3>
    <div id="vcomments"></div>
        <script>
            new Valine({
                el: '#vcomments',
                appId: '8fKQHmL2KKgtJSxGo7d3SfGV-gzGzoHsz',
                appKey: 'YWf5Di35XGX8gboR1cSLKafj',
                placeholder: '欢迎在这里分享自己的独到见解 : )'
            })
    </script>
{% endif %}