---
layout: default
Author: Anonymous
---
<div class="popup-black-background" id="popup_01" onclick="hideErrorReport()" style="display: none;"></div>
<div class="popup-warn-window" id="popup_02" style="display: none;">
    <img class="warn-image" src="{{ site.baseurl }}\assets\warning.svg" style="display: inline; margin-bottom: -5px;" width="40px" height="40px"/>
    <big>报告错误</big>
    <p>如果你发现该网页中存在错误/显示异常，可以从以下两种方式向我们报告错误，我们会尽快修复。</p>
    <ol>
        <li>使用 <strong>CS Club 网站错误</strong> 为主题，附上错误截图或描述及网址后发送邮件到 286988023@qq.com </li>
        <li>在我们的网站代码仓库中创建一个 issue 并在 issue 中描述问题 <a href="https://gitee.com/gwcompsci/gwcompsci/issues">点击链接前往Gitee仓库</a></li>
    </ol>
    <em>（点击弹窗外的背景关闭弹窗）</em>
</div>
<div>
    <h2><strong>{{ page.title }}</strong></h2>
    <img src="{{ site.baseurl }}/assets/home.svg" 
        height="30px" 
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.location.href='{{ site.baseurl }}/'"
    />
    <img src="{{ site.baseurl }}/assets/back.svg"
        height="30px"
        style="float: right; margin: 10px; cursor:pointer;"
        onclick="window.history.back();"
    />
</div>

<p class="meta">By: {{ page.Author }},  {{ page.date | date_to_string }}</p>
<div style="clear:right"></div>

{{ content }}

<hr/>
<div class="warn-button" onclick="showErrorReport()">⚠</div>
{% if page.comments != false %}
    <!-- Script Header for valine comment area -->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <h3>评论区</h3>
    <div id="vcomments"></div>
        <script>
            new Valine({
                el: '#vcomments',
                appId: '8fKQHmL2KKgtJSxGo7d3SfGV-gzGzoHsz',
                appKey: 'YWf5Di35XGX8gboR1cSLKafj',
                placeholder: '欢迎在这里分享自己的独到见解 : )'
            })
    </script>
{% endif %}